@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;
   box-sizing: border-box;
   font-family: 'Inter';
   transition: all 0.3s ease;
}
body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #0e1117;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
::-webkit-scrollbar {
   width: 24px; /* ширина для вертикального скролла */
   height: 8px; /* высота для горизонтального скролла */
   background-color: #143861;
}

/* ползунок скроллбара */
::-webkit-scrollbar {
   background-color: transparent;
   width: 0.2rem;
}

::-webkit-scrollbar-thumb {
   border-radius: 0.1rem;
   background-color: gray;
}